body{

    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;

}

.container{

    border-bottom: 1px #a7a6a6 solid;
    display: flex;
    align-items:center;

}

.logo{

    
}

.logo img{

    width: 75px;
}

nav ul, nav li{

    list-style: none;
    margin: 0;
    padding: 0;
    color: #ebebeb;
}

nav ul{

    display: flex;
    color: #ebebeb;
    margin-left: 7px;
    
}

nav a {

    display: block;
    padding: 10px;
    text-decoration: none;
    color: #a7a6a6;
    font-weight: bold;

}

nav .active a, nav a:hover{

    color:#8a05be;
    font-weight: bold;
}


.login{

    margin-left: 310px;
    padding-right: 30px;
    color:#a7a6a6;
    font-weight: bold;

}

.login a{

    text-decoration: none;
}


.login a:hover{

    color:#8a05be;
    
}


.cadastro{

    background-color: #8a05be;
    color: white;
    padding: 30px;

}

#banner{

    display: flex;
    justify-content: center;
    background-image: url(../img/banner2.jpeg);
    background-size: cover;
    position: center;
    height: 670px;
    margin: 50px 100px 50px 100px;
    border-radius: 30px;

}

.position-text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
    word-wrap: break-word;
}


button{

    background-color: #8a05be;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    transition: 1s all;
    cursor: pointer;
}

button:hover{
    background: #8a05be;
    transform: scale(1.2);
}

.video{

    display: flex;
    justify-content: center;
    margin: 20px;
}


footer{

    margin-top: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: #8a05be;
    font-weight: bold;
}

